.Button {
  color: var(--primary-color);
  background-color: white;
  padding: 14px 28px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-family: var(--font-family);

  &:hover {
    background-color: var(--primary-color-light-35);
  }
}
